.QuestListItemStyle {
	display: grid;
	grid-template-columns: 40px 1fr 50px;
	align-items: center;
	width: 100%;
	min-height: 50px;
}
.completedTaskStyle {
	text-decoration: line-through;
	display: flex;
	align-items: center;
	gap: 25px;
}
.notCompletedTasksStyle {
	display: flex;
	align-items: center;
	gap: 25px;
}
